body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-weight: 400;
  background-image: url('pattern-bg.png');
  background-repeat: no-repeat;
  background-size: 100vw 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  color: whitesmoke;
}

h1 {
  text-align: center;
  margin: 30px;
}

.input-box {
  display: flex;
  width: 40%;
  margin: auto;
}

.address-input {
  width: 100%;
  padding: 15px;
  border: 0px solid white;
  border-radius: 13px 0px 0px 13px;
  font-size: 18px;
}

.submit-button {
  padding: 15px;
  border: 0px solid white;
  border-radius: 0px 13px 13px 0px;
  background-color: hsl(0, 0%, 0%);
  color: white;
  font-size: 18px;
}

.info-box {
  display: grid;
  margin: auto;
  margin-top: 50px;
  width: 60%;
  grid-template-columns: repeat(4, 1fr);
  padding: 30px;
  position: relative;
  color: grey;
  background-color: whitesmoke;
  border-radius: 15px;
  grid-gap: 5%;
  z-index: 2;
}

.info-item-border {
  border-right: 1px solid rgb(185, 185, 185);
}


h3 {
  color: black;
  margin-right: 15px;
  margin-top: 5px;
}

.leaflet-container {
  position: relative;
  z-index: 1;
  top: -7vh;
  width: 100vw;
  height: 100vh;
}

.disclaimer {
  text-align: center;
  opacity: 20%;
  margin-bottom: -35px;
}

@media (max-width: 900px) {
  input[type="text"] {
    font-size:15px;
  }
  h3 {
    font-size: 16px;
  }
  .disclaimer {
    font-size: 12px;
  }
  h3 {
    margin-right: 5px;
  }
  .ip {
    font-size: 13px;
  }
}

@media (max-width: 680px) {
  .input-box {
    width: 50%;
  }
  h1 {
    font-size: 25px;
  }
  input[type="text"] {
    font-size:10px;
  }
  h3 {
    font-size: 12px;
  }
  .info-item-border {
    font-size: 10px;
  }
  .info-item {
    font-size: 10px;
  }
  .disclaimer {
    font-size: 9px;
  }
  .ip {
    font-size: 10px;
  }
  .disclaimer {
    margin-bottom: -50px;
    margin-top: 1px;
    opacity: 30%;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 22px;
  }
  .input-box {
    width: 60%;
  }
  .info-box {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 0px;
    padding-right: 0px;
  }
  input[type="text"] {
    font-size:9px;
  }
  .info-item-border {
    border: 0px;
    margin-top: -10px;
    text-align: center;
  }
  .info-item {
    margin-top: -10px;
    text-align: center;
  }
  .disclaimer {
    margin-bottom: -45px;
    font-size: 7px;
  }
  .leaflet-container {
    top: -12vh;
    height: 100vh
  }
}