body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('pattern-bg.png');
  background-repeat: no-repeat;
  background-size: 100vw 300px;
  width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  color: whitesmoke;
}

h1 {
  text-align: center;
  margin: 30px;
}

.input-box {
  display: flex;
  width: 80%;
  margin-left: 10%;
}

.address-input {
  width: 100%;
  padding: 15px;
  border: 0px solid white;
  border-radius: 13px 0px 0px 13px;
  font-size: 18px;
}

.submit-button {
  padding: 15px;
  border: 0px solid white;
  border-radius: 0px 13px 13px 0px;
  background-color: hsl(0, 0%, 0%);
  color: white;
  font-size: 18px;
}

.info-box {
  display: grid;
  margin-top: 50px;
  grid-template-columns: repeat(4, 1fr);
  padding: 30px;
  color: grey;
  background-color: whitesmoke;
  border-radius: 15px;
  grid-gap: 5%;
}

.info-item-border {
  border-right: 1px solid rgb(185, 185, 185);
}


h3 {
  color: black;
  margin-right: 15px;
  margin-top: 5px;
}